<h1>About</h1>

<h2>What are we about?</h2>
<p>NextFlix is an open-source Web Application that is designed to help users who enjoy streaming videos online with many features designed to do so.</p>

<h2>Is It On?</h2>
<p>Determines if a specific movie is available for streaming on the Internet.</p>

<h2>Recommend</h2>
<p>Recommend movies that you have enjoyed to your friends and or enemies...we don't judge.</p>

<h2>Pick Random Movie</h2>
<p>Pick Random Movie helps you pick a movie that you can stream instantly to your computer.</p>

<h2 class="text-center" id="aboutSign"><%= link_to "Sign up now and start enjoying :)", signup_path %></h2>