<div class="container">
  <h1>NextFlix</h1>
  <br>
   <div class="movie-container">

    <div class="movie-container">
       <h4 class="text-muted">Popular</h4>
       <div id="popular" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <div class="carousel-inner">
          <% counter = 0 %>          
          <% @popular.each do |movie|%>
            <% status = counter == 0 ? "\"item active\"" : "\"item\"" %>
            <div class= <%= status.html_safe %> >
              <%= image_tag( movie.image_url, alt: movie.title) %>
              <div class="text-center">
                  <h3><%= movie.title %></h3>
              </div>
            </div>
            <% counter += 1 %>
          <% end %>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#popular" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#popular" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div> <!-- Carousel -->
   </div>
   
   <div class="push"></div>
</div>