<div class="container">
   <form action="submit">
       <fieldset>
           <legend>Is It On Netflix?</legend>
           <label for="title">Movie Title</label>
           <br>
           <input type="text" name="title" id="">
           <br>
           <button class="btn">Is it on?</button>
       </fieldset>
   </form>
    <div class="push"></div>
</div>