<%= provide( :title, 'Random Movie') %>

<h1>Random Movie Generator</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= form_for Movie.new, :url => url_for(:controller => 'movies', :action => 'randoMovie') do |f| %>
             	<%= f.submit "Generate Random Movie", class: "btn btn-primary" %>
     <% end %>
		</div>
	</div>
</div>