@import "bootstrap-sprockets";
@import "bootstrap";

*{
  color:#FFFFFF;
}

/* Page Content */
.container{
  width:100%;
  height:100%;

  background: #a90329; /* Old browsers */

  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */

  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */

  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

h1{
  text-align: center;
  font-size: 100px;
  margin-top: 100px;
  color: #FFFFFF;
  text-shadow: 5px 5px #000000;
}

#aboutSign{
  color: #ffffff;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/*Footer*/
.footer{
  background-color:rgba(255,255,255,0.25);
}
  
/* caresoul */
div.carousel-inner img{
    margin: 0 auto;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.sidebar-left{
  float:left;
  width:50%;
}

/* images */
.image-right{
  float:right;
  padding-right: 10%;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* etc */
.float-clear{
  border-width:0px;
              
  width: 100%;
  height: 1px;
                  
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: -1px; /* hack to make browser think this has a height */
                  
  padding: 0px;

  clear: both;
}